@charset "UTF-8";

#review-container {
	padding: 20px;
	border-radius: 8px;
	width: 1200px;
	margin: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
	color: #555;
}

td {
	padding: 10px;
}

li {
    list-style-type: none;
}

input[type="text"], input[type="file"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

textarea{
	margin-top: 5px;
}

.review-h2{
	text-align: center;
}

.review-button{
	background-color: #BF917E;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	width: 40%;
	margin: 10px auto;
    display: block; 
}

.review-button:hover{
	background-color: #9e6e58;
	transition: background-color 0.3s ease;
}

.contents-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    height: 200px;
}

.review-image {
    height: 200px;
    width: 200px;
}

.review-contents {
    flex: 1;
    margin: 0;
    resize: none;
    height: 100%;
    width: auto;
}
