@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
}

#container {
	padding: 20px;
	border-radius: 8px;
	width: 1200px;
	margin: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
	color: #555;
}

td {
	padding: 10px;
}

input[type="text"], input[type="file"], textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

textarea{
	margin-top: 5px;
	text-align:	center;
}

input[type="button"] {
	background-color: #28a745;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	width: 40%;
	margin: 10px auto;
    display: block; 
}

input[type="button"]:hover {
	background-color: #218838;
}

.review-h2{
	text-align: center;
}

.empathy-container {
	display: flex;
	align-items: center;
}

.empathy-button {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 8px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	margin-right: 10px;
}

.empathy-button:hover {
	background-color: #0056b3;
}

#empathyInput {
	width: 50px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
}