@charset "UTF-8";

#review-container {
	padding: 20px;
	border-radius: 8px;
	width: 1200px;
	margin: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-align: left;
	color: #555;
}

td {
	padding: 10px;
}

input[type="text"], input[type="file"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

textarea{
	margin-top: 5px;
}

.review-h2{
	text-align: center;
}

.review-button{
	background-color: #BF917E;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	width: 40%;
	margin: 10px auto;
    display: block; 
}

.review-button:hover{
	background-color: #9e6e58;
	transition: background-color 0.3s ease;
}

.empathy-container {
	display: flex;
	align-items: center;
}

.empathy-button {
	width: 60px;
	background-color: #BF917E;
	color: white;
	border: none;
	padding: 8px 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	margin-right: 10px;
}

.empathy-button:hover {
	background-color: #9e6e58;
	transition: background-color 0.3s ease;
}

.empathyInput {
	width: 50px;
	text-align: left;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
}

.review-contents{
	width: 100%;
	text-indent: 0;
	text-align: left;
}