@charset "UTF-8";

body {
	font-family: "Noto Serif KR", serif;
	margin: 20px;
}

#container {
	width: 1000px;
	margin: auto;
}

.write-form{
	height: 800px;
	border: solid 1px #BF917E;
}

table {
    width: 100%;
    border-collapse: collapse; /* 겹치는 테두리 설정 */
}

th, td {
    padding: 10px 5px;
    text-align: left;
    border-top: none;    /* 행 구분선 제거 */
    border-bottom: none; /* 행 구분선 제거 */
    border-left: none;   /* 열 구분선 제거 */
    border-right: none;  /* 열 구분선 제거 */
}

th{
	padding-left: 20px;
	width: 200px;
	height: 55px;
	font-size: 22px;
	font-weight: bold;
}

input[type="text"], textarea {
    padding: 8px;
    margin-left: 5px; /* 왼쪽 간격을 좁힘 */
    margin-right: 5px; /* 오른쪽 간격을 좁힘 */
    margin-top: 0; /* 위쪽 간격을 없앰 */
    margin-bottom: 10px; /* 아래쪽 간격은 그대로 유지 */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.title{
	width: 45%;
	height: 40px;
}

input[type="file"] {
	margin: 5px 0;
}

.notice-text {
    display: block; /* 줄 바꿈 적용 */
    font-size: 12px; /* 글씨 크기를 작게 설정 */
    color: #888; /* 회색 글씨 */
    margin-top: 5px; /* 제목과 간격 */
}
/*
#pictureFiles{
	display: none;
}
*/
.preview_image{
	width: 250px;
	height: 200px;
	padding-right: 20px;
}

button {
	background-color: #BF917E;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #9e6e58;
	transition: background-color 0.3s ease;
}

.category{
	background: #f5f5f5;
    border: 1px solid #e1e1e1;
    font-size: 14px;
    padding: 8px 2px;
    margin: 0 2px 0 0;
    border-radius: 4px;
}

.contents{
	width: 80%;
	height: 300px;
}


.price{
	width: 200px;
}

.stock{
	width: 100px;
	height: 28px;
	border: 1px solid #ccc;
    border-radius: 4px;
}

.add-orders{
	background-color: #BF917E;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.add-orders:hover{
	background-color: #9e6e58;
	transition: background-color 0.3s ease;
}

.name-orders{
	width: 80%;
}

.origin{
	width: 80%;
}

.write{
	background-color: #BF917E;
	color: white;
	padding: 10px 15px;
	margin-top: 5px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.write:hover{
	background-color: #9e6e58;
	transition: background-color 0.3s ease;
}